*{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background: url(Assets/fondo.jpg);
    padding: 2px;
    margin: 2px;
}


header .iconos {
    display: flex;
    align-items: center;
    gap: 12px;

}
header .iconos a {
    text-decoration: none;
    color: black;
}

header .iconos a img {
    border-radius: 60%;
    height: 40px;
    width: 40px;
}

.icon-buscador {
    display: inline-block;
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
}

button{
    border: none;
    border-radius: 2px;
    background-color: #cca4a4;
    margin:16px;
    padding: 12px;
    color: rgb(0, 0, 0);
}

#input-buscador {
    border: 0px;
	width: 400px;
	position: relative;
	background: transparent;
	outline: none;
	bottom: 4px;
	padding: 2px
}


ul{
    list-style-type: none;
}

header ul li {
    display: inline;
    /*padding: 8px;*/
    /*padding: 8px 24px;*/
     /*padding: 8px 24px 40px 60px;*/
     padding: 4px;
}

footer ul{
    display: inline-block;
    margin: 0px 12px;
}
footer ul li {
    display: inline;
    /*padding: 8px;*/
    /*padding: 8px 24px;*/
     /*padding: 8px 24px 40px 60px;*/
     padding: 16px;
}

header {
    height: 10vh;
    display:flex;
    justify-content: flex-end;
    align-content: center;
}

main {
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    background-color: #ffffff;
}
footer section {
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #000000;
}
footer section.info {
    border-top: #5e3b07 solid 1px;
    display: flex;
    justify-content: space-between;
}
footer section.info div {
    display: flex;
    gap: 18px;
}
footer section.info div a {
    color: #000000;
    text-decoration: none;
}

.btn-buscador{
    border: black;
}

